<ul class="border list-style ">
    {{#each this}}

    <li class="text bShadow-38 bShadow-1h">{{name}} <img class="list-style-flag" src="{{flag}}" width="30px"
            alt="{{name}}"></li>

    {{/each}}

</ul>